html,body,head,div,span,p,header,nav,section,article,aside,footer,
h1, h2, h3, h4, h5, h6, hr, ol,ul,li, a,img,iframe,
table,thead,tbody,tfoot,tr, th, td,form,input,label,button,select,textarea,br
{
    margin: 0px;
    padding: 0px;
    /* font-size: 100%; */
}
body{
    width: 960px;/* 크기는 12로 나누어 떨어지는 값 */
    margin: 0px auto; /* 위/아래는 0, 왼쪽과 오른쪽여백을 같게하고 가운데 */
}
ol, ul, li{
    list-style: none; /* 목록의 기호 */
}
a, a:visited {
    text-decoration: none; /* 밑줄 */
    color: black;
}
img{
    border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}